html, body {
    overflow-x: hidden;
}

/*CSS abaixo feito por Clarissa Melozi SP3030008*/

#header{
    text-align:center;
    text-shadow:10px;
    background-image: url(images/wood.jpg);
    background-size: 100% 100%;
    padding-block: 55px;
}

#subheader{

    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    color:white;
    text-align: center;
    background-color: rgb(211, 135, 105);
    padding-block: 55px;
}

h1 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
    font-weight: bold;
}

.col-sm-4 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    border-style: solid;
    padding-block: 10px;
}

a {
    color: black;
}


#texto{
    text-align:justify; 
    margin-top:40px;
    margin-bottom:40px;
    font-size: 20px;

}

<<<<<<< HEAD
#footer{
=======
#footer {
>>>>>>> 70d61a2c5a5e2480f973f58f16edc66d8182f667
    text-align: center;
    background-color: black;
    color: rgb(204, 204, 204);
}
/*CSS acima feito por Clarissa Melozi SP3030008*/

/*Fale conosco - Carolina de Moraes Josephik*/

.fale-conosco-wrapper {
    margin: 25px auto;
}

.fale-conosco-wrapper form {
    margin-left: 10px;
}

.fale-conosco-wrapper .row {
    margin: 30px auto;
}

@media(min-width: 1200px) {
    .form-coluna+.form-coluna {
        margin-left: 5%;
    }
    .form-coluna {
        max-width: 500px;
        margin: auto;
    }
}

